#app-container {
  font-family: futura;
  display: inline-block;
  width: 700px;
}

.header {
  text-align: center;
  border-top: solid thin;
  border-bottom: solid thin;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
}

.header span {
  color: #c9c7c7;
  font-size: smaller;
  margin-left: 10px;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
  background-color: rgb(205,92,92);
  margin-left: 5px;
  padding: 5px;
}

.nav span {
  background-color: white;
  margin-left: 100px;
  
}
