#app-container {
  font-family: "avenir";
}

header {
  font-weight: bold;
  font-size: 20px;
}

ul {
  list-style: none;
}

#Home {
  color: #66CC99;
}

li {
  border: 1px solid gray;
  width: 200px;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
}
